.song-item {
    display: flex;
}

.song-image-container {
    margin-top: 12px;
}

.song-image {
    width: 50px;
    height: 50px;
}

.song-details {
    margin-left: 10px;
    width: 70%;
}

.song-title {
    font-weight: bold;
}

.song-artist-album {
    margin-top: -16px;
    color: rgb(219, 219, 219);
}

.line {
    margin-top: 0px;
}