.playlist-name {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.save-button {
    background-color: rgb(90, 27, 209);
    border: none;
    color: white;
    padding: 20px;
    margin: 4px 2px;
    border-radius: 50px;
    font-weight: bold;
}

.button-container {
    text-align: center;
}

