.container {
    background-color: rgb(0,9,52);
    height: 50px;
    width: 100%;
}

.title {
    text-align: center;
    margin-top: -1px;
    font-family: 'Trebuchet MS';
    font-size: 40px;
}